// *************************************
//
//   #HEADINGS
//
// *************************************

// Headings 1-6

// Predefine the variables below in order to alter and enable specific features.
$tree-heading-size-1:  36px !default;
$tree-heading-size-2:  30px !default;
$tree-heading-size-3:  24px !default;
$tree-heading-size-4:  20px !default;
$tree-heading-size-5:  16px !default;
$tree-heading-size-6:  14px !default;





h1 {
    @include tree-font-size($tree-heading-size-1);
}

h2 {
    @include tree-font-size($tree-heading-size-2);
}

h3 {
    @include tree-font-size($tree-heading-size-3);
}

h4 {
    @include tree-font-size($tree-heading-size-4);
}

h5 {
    @include tree-font-size($tree-heading-size-5);
}

h6 {
    @include tree-font-size($tree-heading-size-6);
}
